In [74]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score   
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
import pickle

In [2]:
#parth
circuits = pd.read_csv(r"archive/circuits.csv")
constructor_results = pd.read_csv(r"archive/constructor_results.csv")
constructor_standings = pd.read_csv(r"archive/constructor_standings.csv")
constructors = pd.read_csv(r"archive/constructors.csv")
driver_standings = pd.read_csv(r"archive/driver_standings.csv")
drivers = pd.read_csv(r"archive/drivers.csv")
lap_times = pd.read_csv(r"archive/lap_times.csv")


#me
pit_stops = pd.read_csv(r"archive/pit_stops.csv")
qualifying = pd.read_csv(r"archive/qualifying.csv")
races = pd.read_csv(r"archive/races.csv")
results = pd.read_csv(r"archive/results.csv")
seasons = pd.read_csv(r"archive/seasons.csv")
sprint_results = pd.read_csv(r"archive/sprint_results.csv")
status = pd.read_csv(r"archive/status.csv")

In [3]:
circuits.replace('\\N', np.nan, inplace=True)
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [4]:
constructor_results.replace('\\N', np.nan, inplace=True)
constructor_results.head()

   constructorResultsId  raceId  constructorId  points status
0                     1      18              1    14.0    NaN
1                     2      18              2     8.0    NaN
2                     3      18              3     9.0    NaN
3                     4      18              4     5.0    NaN
4                     5      18              5     2.0    NaN

In [5]:
constructor_standings.replace('\\N', np.nan, inplace=True)
constructor_standings.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [6]:
#No Use in modelling
constructors.replace('\\N', np.nan, inplace=True)

constructors.head()

,constructorId,constructorRef,name,nationality,url
0,1,mclaren,McLaren,British,http://en.wikipedia.org/wiki/McLaren
1,2,bmw_sauber,BMW Sauber,German,http://en.wikipedia.org/wiki/BMW_Sauber
2,3,williams,Williams,British,http://en.wikipedia.org/wiki/Williams_Grand_Pr...
3,4,renault,Renault,French,http://en.wikipedia.org/wiki/Renault_in_Formul...
4,5,toro_rosso,Toro Rosso,Italian,http://en.wikipedia.org/wiki/Scuderia_Toro_Rosso

In [7]:
driver_standings.replace('\\N', np.nan, inplace=True)
driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [8]:
drivers.replace('\\N', np.nan, inplace=True)
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [9]:
lap_times.replace('\\N', np.nan, inplace=True)
lap_times.head()

   raceId  driverId  lap  position      time  milliseconds
0     841        20    1         1  1:38.109         98109
1     841        20    2         1  1:33.006         93006
2     841        20    3         1  1:32.713         92713
3     841        20    4         1  1:32.803         92803
4     841        20    5         1  1:32.342         92342

In [10]:
pit_stops.head()

   raceId  driverId  stop  lap      time duration  milliseconds
0     841       153     1    1  17:05:23   26.898         26898
1     841        30     1    1  17:05:52   25.021         25021
2     841        17     1   11  17:20:48   23.426         23426
3     841         4     1   12  17:22:34   23.251         23251
4     841        13     1   13  17:24:10   23.842         23842

In [11]:
qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236

In [12]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [13]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [14]:
seasons.head()

   year                                                url
0  2009  http://en.wikipedia.org/wiki/2009_Formula_One_...
1  2008  http://en.wikipedia.org/wiki/2008_Formula_One_...
2  2007  http://en.wikipedia.org/wiki/2007_Formula_One_...
3  2006  http://en.wikipedia.org/wiki/2006_Formula_One_...
4  2005  http://en.wikipedia.org/wiki/2005_Formula_One_...

In [15]:
sprint_results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,fastestLapTime,statusId
0,1,1061,830,9,33,2,1,1,1,3,17,25:38.426,1538426,14,1:30.013,1
1,2,1061,1,131,44,1,2,2,2,2,17,+1.430,1539856,17,1:29.937,1
2,3,1061,822,131,77,3,3,3,3,1,17,+7.502,1545928,17,1:29.958,1
3,4,1061,844,6,16,4,4,4,4,0,17,+11.278,1549704,16,1:30.163,1
4,5,1061,846,1,4,6,5,5,5,0,17,+24.111,1562537,16,1:30.566,1

In [16]:
status.head()

   statusId        status
0         1      Finished
1         2  Disqualified
2         3      Accident
3         4     Collision
4         5        Engine

In [17]:
qualifying.isnull().sum()

qualifyId          0
raceId             0
driverId           0
constructorId      0
number             0
position           0
q1                 8
q2               164
q3               327
dtype: int64

In [18]:
results['position'] = results['position'].replace('\\N', 0)
results['milliseconds'] = results['milliseconds'].replace('\\N', 0)
results['fastestLapTime'] = results['fastestLapTime'].replace('\\N', 0)
results['fastestLapSpeed'] = results['fastestLapSpeed'].replace('\\N', 0)


results['position'] = results['position'].astype(int)
results['milliseconds'] = results['milliseconds'].astype(float)
results['fastestLapSpeed'] = results['fastestLapSpeed'].astype(float)


results['milliseconds'] = results['milliseconds'] / 1000
results = results.rename(columns={'milliseconds': 'seconds'})

In [19]:
results = results.merge(races[['raceId', 'date', 'circuitId']], on='raceId')

In [20]:
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,seconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId,date,circuitId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690.616,39,2,1:27.452,218.300,1,2008-03-16,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696.094,41,3,1:27.739,217.586,1,2008-03-16,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698.779,41,5,1:28.090,216.719,1,2008-03-16,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707.797,58,7,1:28.603,215.464,1,2008-03-16,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708.630,43,1,1:27.418,218.385,1,2008-03-16,1

In [21]:
def convert_to_seconds(time_str):
    if pd.isnull(time_str):
        return np.nan
    minutes, seconds = time_str.split(':')
    total_seconds = int(minutes) * 60 + float(seconds)
    return total_seconds

columns = ['q1', 'q2', 'q3']

for column in columns:
    qualifying[column] = qualifying[column].replace('\\N', np.nan)
    qualifying[column] = qualifying[column].apply(convert_to_seconds)

qualifying['Qualifying Time'] = qualifying[['q1', 'q2', 'q3']].mean(axis=1).round(3)

In [22]:
qualifying.head()

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,Qualifying Time
0,1,18,1,1,22,1,86.572,85.187,86.714,86.158
1,2,18,9,2,4,2,86.103,85.315,86.869,86.096
2,3,18,5,1,23,3,85.664,85.452,87.079,86.065
3,4,18,13,6,2,4,85.994,85.691,87.178,86.288
4,5,18,2,2,3,5,85.960,85.518,87.236,86.238

In [23]:
drivers['age']=2024-(drivers['dob'].str[:4].astype(int))
driver_age=drivers.drop(columns=['driverRef','number','code','forename','surname','dob','nationality','url'])

In [24]:
drivers['Name'] = drivers['forename'] + ' ' + drivers['surname']

In [72]:
drivers.to_csv("drivers.csv",index=False)

In [71]:
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,age,Name
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,39,Lewis Hamilton
1,2,heidfeld,NaN,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,47,Nick Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,39,Nico Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,43,Fernando Alonso
4,5,kovalainen,NaN,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,43,Heikki Kovalainen

In [25]:
driver_age.head()

   driverId  age
0         1   39
1         2   47
2         3   39
3         4   43
4         5   43

In [26]:
df_driver_experience = results[['raceId', 'driverId', 'date']].sort_values('date')

df_driver_experience['Driver Experience'] = df_driver_experience.groupby('driverId').cumcount() + 1

In [27]:
df_driver_experience.head()

       raceId  driverId        date  Driver Experience
20155     833       785  1950-05-13                  1
20162     833       666  1950-05-13                  1
20161     833       788  1950-05-13                  1
20160     833       790  1950-05-13                  1
20159     833       661  1950-05-13                  1

In [28]:
df_driver_experience = df_driver_experience.merge(driver_age[["driverId","age"]], on= "driverId")

In [29]:
df_driver_experience.head()

   raceId  driverId        date  Driver Experience  age
0     833       785  1950-05-13                  1  103
1     837       785  1950-06-18                  2  103
2     833       666  1950-05-13                  1  106
3     813       666  1953-07-18                  2  106
4     797       666  1955-07-16                  3  106

In [30]:
df_constructor_experience = results[['raceId', 'constructorId', 'date']].sort_values('date')

df_constructor_experience['Constructor Experience'] = df_constructor_experience.groupby('constructorId').cumcount() + 1

In [31]:
df_constructor_experience.head()

       raceId  constructorId        date  Constructor Experience
20155     833            126  1950-05-13                       1
20162     833            151  1950-05-13                       1
20161     833            105  1950-05-13                       1
20160     833            151  1950-05-13                       2
20159     833            151  1950-05-13                       3

In [32]:
df_driver_constructor_exp = results[['raceId', 'constructorId', 'driverId', 'date']].sort_values('date')

df_driver_constructor_exp['Driver Constructor Experience'] = df_driver_constructor_exp.groupby(['driverId', 'constructorId']).cumcount() + 1

In [33]:
winvision = results[['raceId', 'driverId', 'constructorId', 'grid', 'position', 'laps', 'seconds', 'fastestLapSpeed', 'date', 'circuitId']]

In [34]:
winvision = winvision.merge(df_constructor_experience[['raceId', 'constructorId', 'Constructor Experience']], on=['raceId', 'constructorId'], how='left')

In [35]:
winvision= winvision.merge(df_driver_experience[['raceId', 'driverId', 'Driver Experience',"age"]], on=['raceId', 'driverId'], how='left')

In [36]:
driver_standings.head()

   driverStandingsId  raceId  driverId  points  position positionText  wins
0                  1      18         1    10.0         1            1     1
1                  2      18         2     8.0         2            2     0
2                  3      18         3     6.0         3            3     0
3                  4      18         4     5.0         4            4     0
4                  5      18         5     4.0         5            5     0

In [37]:
driver_standings.rename(columns = {'wins':'driver_wins'}, inplace = True)

In [38]:
driver_standings.head()

,driverStandingsId,raceId,driverId,points,position,positionText,driver_wins
0,1,18,1,10.0,1,1,1
1,2,18,2,8.0,2,2,0
2,3,18,3,6.0,3,3,0
3,4,18,4,5.0,4,4,0
4,5,18,5,4.0,5,5,0

In [39]:
winvision = winvision.merge(driver_standings[['raceId', 'driverId', 'driver_wins']], on=['raceId', 'driverId'], how='left')

In [40]:
constructor_standings.head()

,constructorStandingsId,raceId,constructorId,points,position,positionText,wins
0,1,18,1,14.0,1,1,1
1,2,18,2,8.0,3,3,0
2,3,18,3,9.0,2,2,0
3,4,18,4,5.0,4,4,0
4,5,18,5,2.0,5,5,0

In [41]:
constructor_standings.rename(columns = {'wins':'constructor_wins'}, inplace = True)

In [42]:
winvision = winvision.merge(constructor_standings[['raceId', 'constructorId', 'constructor_wins']], on=['raceId', 'constructorId'], how='left')

In [43]:
winvision = winvision.sort_values(['driverId', 'date'])
winvision['prev_position'] = winvision.groupby('driverId')['position'].shift(1)
winvision['prev_position'] = winvision['prev_position'].fillna(0)

In [44]:
df_driver_constructor_exp = results[['raceId', 'constructorId', 'driverId', 'date']].sort_values('date')

df_driver_constructor_exp['Driver Constructor Experience'] = df_driver_constructor_exp.groupby(['driverId', 'constructorId']).cumcount() + 1

In [45]:
winvision = winvision.merge(df_driver_constructor_exp[['raceId', 'constructorId', 'driverId', 'Driver Constructor Experience']], on=['raceId', 'constructorId', 'driverId'], how='left')

In [46]:
status = status[~status['status'].str.contains("\+\d+ Laps")]
status = status.drop(0)

df_finish = results[['raceId', 'driverId', 'constructorId', 'statusId', 'date']].copy()
df_finish.loc[:, 'Finish'] = (~df_finish['statusId'].isin(status['statusId'])).astype(int)
df_finish['date'] = pd.to_datetime(df_finish['date'])

df_finish = df_finish.sort_values('date')

df_finish['DNF Score'] = df_finish.groupby('constructorId')['Finish'].expanding().mean().round(2).reset_index(level=0, drop=True)

In [47]:
winvision = winvision.merge(df_finish[['raceId', 'constructorId', 'DNF Score']], on=['raceId', 'constructorId'], how='left')

In [48]:
winvision.head()

,raceId,driverId,constructorId,grid,position,laps,seconds,fastestLapSpeed,date,circuitId,Constructor Experience,Driver Experience,age,driver_wins,constructor_wins,prev_position,Driver Constructor Experience,DNF Score
0,36,1,1,4,3,58,5147.365,221.083,2007-03-18,1,1210,1,39,0.0,0.0,0.0,1,0.5
1,36,1,1,4,3,58,5147.365,221.083,2007-03-18,1,1210,1,39,0.0,0.0,0.0,1,0.5
2,36,1,1,4,3,58,5147.365,221.083,2007-03-18,1,1211,1,39,0.0,0.0,3.0,1,0.5
3,36,1,1,4,3,58,5147.365,221.083,2007-03-18,1,1211,1,39,0.0,0.0,3.0,1,0.5
4,37,1,1,4,2,56,5552.487,206.355,2007-04-08,2,1212,2,39,0.0,1.0,3.0,2,0.5

In [49]:
winvision = winvision.drop_duplicates(subset=['raceId', 'driverId', 'constructorId'], keep='last')

pos = list(range(1, 21))
winvision = winvision[winvision['position'].isin(pos)]

winvision = winvision[winvision['constructor_wins'].notnull()]

winvision = winvision[winvision['date']>='1980-01-01']

winvision['podium'] = winvision['position'].apply(lambda x: x if 1<=x<=3 else 0)

winvision.to_csv('winvision.csv', index=False)

In [50]:
winvision.head()

,raceId,driverId,constructorId,grid,position,laps,seconds,fastestLapSpeed,date,circuitId,Constructor Experience,Driver Experience,age,driver_wins,constructor_wins,prev_position,Driver Constructor Experience,DNF Score,podium
3,36,1,1,4,3,58,5147.365,221.083,2007-03-18,1,1211,1,39,0.0,0.0,3.0,1,0.50,3
7,37,1,1,4,2,56,5552.487,206.355,2007-04-08,2,1213,2,39,0.0,1.0,2.0,2,0.51,2
11,38,1,1,2,2,57,5609.875,206.674,2007-04-15,3,1215,3,39,0.0,1.0,2.0,3,0.51,2
15,39,1,1,4,2,65,5503.020,202.205,2007-05-13,4,1217,4,39,0.0,1.0,2.0,4,0.51,2
19,40,1,1,2,2,78,6033.424,159.528,2007-05-27,6,1219,5,39,0.0,2.0,2.0,5,0.51,2

In [51]:
X = winvision.drop(['position', 'seconds', 'podium', 'date', 'fastestLapSpeed', 'raceId'], axis=1)
y = winvision['podium']

In [52]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [53]:
logr = LogisticRegression()
logr.fit(X_train,y_train)
Y_pred=logr.predict(X_test)

c:\Users\shiva\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [54]:
accuracy=accuracy_score(Y_pred,y_test)
print(accuracy*100)

83.83793410507569

In [55]:
gnb = GaussianNB()
gnb.fit(X_train, y_train)
Y_pred = gnb.predict(X_test)

In [56]:
accuracy=accuracy_score(Y_pred,y_test)
print(accuracy*100)

98.1300089047195

In [57]:
from sklearn.neighbors import KNeighborsClassifier


knn = KNeighborsClassifier(n_neighbors=7) 
knn.fit(X_train, y_train) 
Y_pred=knn.score(X_test,y_test)
Y_pred2=knn.score(X_train,y_train)

In [58]:
print("Testing dataset accuracy: ",Y_pred)
print("Training dataset accuracy: ",Y_pred2)

Testing dataset accuracy:  0.8045414069456812
Training dataset accuracy:  0.8425565081839439

In [59]:
from sklearn.model_selection import train_test_split

In [60]:
X = winvision.drop(['position', 'seconds', 'podium', 'date', 'fastestLapSpeed', 'raceId'], axis=1)
y = winvision['podium']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [61]:
from sklearn.ensemble import RandomForestClassifier

In [62]:
clf = RandomForestClassifier(random_state=42)

In [63]:
clf.fit(X_train,y_train)

RandomForestClassifier(random_state=42)

In [64]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
y_pred = clf.predict(X_test)
accuracy = accuracy_score(y_test, y_pred).round(4)
print(f"accuracy = {accuracy*100}% ")

accuracy = 99.87%

In [75]:
pickle.dump(clf,open("winvision_model.pkl","wb"))

In [76]:
model=pickle.load(open('winvision_model.pkl','rb'))

In [65]:
X.head()

,driverId,constructorId,grid,laps,circuitId,Constructor Experience,Driver Experience,age,driver_wins,constructor_wins,prev_position,Driver Constructor Experience,DNF Score
3,1,1,4,58,1,1211,1,39,0.0,0.0,3.0,1,0.50
7,1,1,4,56,2,1213,2,39,0.0,1.0,2.0,2,0.51
11,1,1,2,57,3,1215,3,39,0.0,1.0,2.0,3,0.51
15,1,1,4,65,4,1217,4,39,0.0,1.0,2.0,4,0.51
19,1,1,2,78,6,1219,5,39,0.0,2.0,2.0,5,0.51

In [66]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [77]:
def prediction(driver_name, grid, circuit_loc):
    driver = drivers.loc[drivers['Name']==driver_name, 'driverId'].iloc[0]
    circuit = circuits.loc[circuits['location']==circuit_loc, ['circuitId']].iloc[0]

    input_data = winvision[winvision['driverId'] == driver].sort_values(by='date', ascending=False).iloc[0]
    circuit_data = circuits[circuits['location']==circuit_loc].iloc[0]

    features = {
        'driverId': input_data['driverId'],
        'constructorId': input_data['constructorId'],
        'grid': grid,
        'laps': input_data['laps'],
        'circuitId': circuit_data['circuitId'],
        'Constructor Experience': input_data['Constructor Experience'],
        'Driver Experience': input_data['Driver Experience'],
        'age': input_data['age'],
        'driver_wins': input_data['driver_wins'],
        'constructor_wins': input_data['constructor_wins'],
        'prev_position': input_data['prev_position'],
        'Driver Constructor Experience': input_data['Driver Constructor Experience'],
        'DNF Score': input_data['DNF Score']
        
    }
    features = pd.DataFrame([features])
    #print(features)
    
    return model.predict(features), model.predict_proba(features)

In [78]:
drivers_list = [ 'George Russell'   ,'Lando Norris', 'Oscar Piastri','Daniel Ricciardo', 'Fernando Alonso','Lewis Hamilton','Yuki Tsunoda','Lance Stroll','Alexander Albon','Charles Leclerc', 'Carlos Sainz','Logan Sargeant','Kevin Magnussen','Pierre Gasly','Sergio Pérez','Valtteri Bottas','Esteban Ocon','Max Verstappen','Nico Hülkenberg']

grids = list(range(1, 21))

circuit_loc = 'Montreal'

predictions = []

for driver_name, grid in zip(drivers_list, grids):
    pred, prob = prediction(driver_name, grid, circuit_loc)
    if pred in [1, 2, 3]:
        predictions.append({
        'Driver Name ': driver_name,
        'Grid': grid,
        'Prediction': pred,
        'Probability': np.max(prob)*100
        })
predictions

[{'Driver Name ': 'Charles Leclerc',
  'Grid': 10,
  'Prediction': array([3], dtype=int64),
  'Probability': 74.0},
 {'Driver Name ': 'Sergio Pérez',
  'Grid': 15,
  'Prediction': array([2], dtype=int64),
  'Probability': 66.0},
 {'Driver Name ': 'Max Verstappen',
  'Grid': 18,
  'Prediction': array([1], dtype=int64),
  'Probability': 85.0}]